.container {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  font-size: 13px;
}
