.flag-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, rgb(221, 219, 218));
}

.flag-row > * {
  flex: 1;
}

.actions {
  max-width: 80px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

select:hover {
  border: 1px solid #1589ee;
  outline: 0;
  box-shadow: #0070d2 0 0 3px;
}
